# ignore all
*
**
# white list
!.mvn/wrapper/maven-wrapper.jar
!lib
!lib/*
!lib/**
!src
!src/*
!src/**
!conf
!conf/*
!conf/**
!res
!res/*
!res/**
!target
!target/conf
!target/conf/*
!target/conf/**
!target/res
!target/res/*
!target/res/**
!target/*.jar
!pom.xml
!LICENSE
!README.md
!.gitignore

