<config defaultPDP="pdp" defaultAttributeFactory="attr"
        defaultCombiningAlgFactory="comb" defaultFunctionFactory="func">
    <pdp name="pdp1">
        <policyFinderModule class="org.wso2.balana.finder.impl.FileBasedPolicyFinderModule">
            <set>
                <string>src/main/resources/IntentConflictExamplePolicies</string>
            </set>
        </policyFinderModule>
    </pdp>
    <pdp name="mypdp">
        <attributeFinderModule class="org.wso2.balana.finder.impl.CurrentEnvModule"/>
        <attributeFinderModule class="org.wso2.balana.finder.impl.SelectorModule"/>
        <policyFinderModule class="org.wso2.balana.finder.impl.FileBasedPolicyFinderModule">
            <set>
                <string>src/main/resources/IntentConflictExamplePolicies</string>
            </set>
        </policyFinderModule>
    </pdp>

    <attributeFactory name="attr" useStandardDatatypes="true"/>
    <functionFactory name="func" useStandardFunctions="true"/>
    <combiningAlgFactory name="comb" useStandardAlgorithms="true"/>

</config>



